# Churn Baby Churn

Code source: [DataCamp](https://www.datacamp.com/community/tutorials/predicting-employee-churn-python)

## Defining Churn

Ex. *Churn: when a member of a population leaves a population*

Q. Are there any attributes about your population that offer unique considerations?

## Load Dataset

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Data_Churn_HR.csv")

## Exploratory Data Analyses

## Test **Attribute Details**

Column 'Departments ' has a space that needs to be removed.

In [57]:
for column in data.columns:
    data.rename(columns = {column: column.strip()}, inplace = True)

In [108]:
data_col_deets = column_details(data)

The 'supervised' variable is 'left'. 0 - False and 1 - True

In [109]:
data_col_deets['left']

Index
Type        <class 'numpy.int64'>
Count                       14999
Missing                         0
Num_Uniq                        2
Min                             0
Max                             1
Mean                     0.238083
Std                       0.42591
Levels                     [0, 1]
Name: left, dtype: object

In [87]:
left = data.groupby('left')
left.mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

## **Dependencies**

In [105]:
# v001

def column_details(data):
    
    column_details = extract_column_details(data)
    
    import pandas as pd
        
    column_details['Index'] = ['Type','Count','Missing','Num_Uniq','Min','Max','Mean','Std','Levels']
    
    df = pd.DataFrame(column_details, columns = column_details.keys()).set_index('Index', drop = True)
    
    return df

In [102]:
# v001

def extract_column_details(data, column_details = {}):
    """
    Return details about each column in a dataframe
    """
    
    import numpy as np
    from pandas import DataFrame
    
    for column in data.columns:
        col_type = type(data[column][0])
        col_count = len(data[column])
        col_miss = data[column].isnull().sum()  # how many missing values?
        col_num_unique = len(np.unique(data[column]))  # how many unique values?

        if (type(data[column][0]) is str) == False:  # only if float or integer
            col_min = np.min(data[column])  # minimum
            col_max = np.max(data[column])  # maximum
            col_mean = np.mean(data[column])  # average
            col_std = np.std(data[column])  # standard deviation

        else:  # if its a string
            col_min = 'string'  # minimum
            col_max = 'string'  # maximum
            col_mean = 'string'  # average
            col_std = 'string'  # standard deviation

        if col_num_unique <= 10:  # want to list unique values
            col_list = np.unique(data[column])

        else:
            col_list = "too many"

        # create a dictionary to store the info
        column_details[column] = [col_type,
                                  col_count,
                                  col_miss,
                                  col_num_unique,
                                  col_min,
                                  col_max,
                                  col_mean,
                                  col_std,
                                  col_list]
        
    return column_details